<p>This project was created by Stephanie Eckles - <a href="https://twitter.com/5t3ph">@5t3ph</a> - using semantic, accessible HTML, modern CSS, a dash of vanilla JavaScript, and generated using Eleventy.</p>

<p>Steph is the author of the <a href="https://moderncss.dev">ModernCSS.dev</a> tutorial series which aims to help you upgrade your CSS skills by learning modern solutions to old CSS problems. She also is the creator of <a href="https://stylestage.dev">StyleStage.dev</a> which is a modern CSS showcase styled by community contributions. Other projects include <a href="https://11ty.rocks">11ty.Rocks</a>, and <a href="https://learnfromsteph.dev">LearnFromSteph.dev</a></p>

<p>
<a href="https://www.buymeacoffee.com/moderncss">Support this project</a> • <a href="https://github.com/5t3ph/buttonbuddy">Star on GitHub</a>
</p>

<h3>Credits</h3>
<p>Many thanks to Jeff Escalante for the <a href="https://www.npmjs.com/package/color-contrast">color-contrast package</a> which is calculating ratios for the contrasting colors. The base Eleventy project is borrowing from Michelle Barker's <a href="https://github.com/mbarker84/eleventy-parcel">eleventy-parcel</a> starter to enable JS bundling.</p>


