---
templateEngineOverride: njk,md
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ButtonBuddy - Accessible button contrast generator</title>
  <meta name="description" content="Learn what it takes to ensure your buttons or button-styled links have accessible contrast across all states and surfaces, then use the generator to check and adjust your button palette.">
  <link rel="preload" href="{{ '/fonts/baloo-2-v1-latin-500.woff2' | url }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ '/fonts/baloo-2-v1-latin-regular.woff2' | url }}" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/style.css">
  {% if 'buttonbuddy' in meta.url %}
  <link rel="preconnect" href="https://plausible.io">
  <link rel="dns-prefetch" href="https://plausible.io">
  <script async defer data-domain="buttonbuddy.dev" src="https://plausible.io/js/plausible.outbound-links.js"></script>
  <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
  {% endif %}
</head>
<body>
  <header>
    <h1><span>{% include "buddy.njk" %}ButtonBuddy</span> <small>Made by <a href="https://twitter.com/5t3ph">5t3ph</a></small></h1>
    <nav>
      <ul role="list">
        <li><a href="#intro" aria-current="true">Intro</a></li>
        <li><a href="#generator">Generator</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </nav>
  </header>
  <main id="intro">
    {{ content | safe }}
  </main>
  <aside id="generator" aria-labelledby="generator-title">
    <h2 id="generator-title">Accessible Button Contrast Generator</h2>
    {% include "generator.njk" %}
  </aside>
  <footer id="about">
    <h2>About</h2>
    {% include "about.njk" %}
  </footer>

  {% if version.js | length == 0 %}
    {% set JsVersion = '' %}
  {% else %}
    {% set JsVersion = version.js %}
  {% endif %}
  <script src="/index{{ JsVersion }}.js"></script>
</body>
</html>