svg.visible ellipse:last-of-type {
  transform: scale(1);
  transform-origin: 90% 20%;
  animation: wink 480ms ease-in-out 1s 1;
}

svg.happy path,
svg.frown path {
  fill: transparent;
  stroke-width: clamp(6px, 1vw, min(0.1em, 6px));
}

svg.frown path {
  transform: scaleY(-1);
  transform-origin: 50% 80%;
}

@keyframes wink {
  0%,
  20%,
  70% {
    transform: scale(1.5, 0.25);
  }

  30%,
  50%,
  90%,
  100% {
    transform: scale(1);
  }
}
