@mixin button-core {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  color: var(--color);
  border-radius: var(--border-radius);
  padding: 0.35em 0.75em 0.25em;
  text-align: center;
  line-height: 1;
  font-weight: 500;

  .buddy {
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
    transform: translateY(-0.05em);

    svg {
      width: 100%;
      height: 100%;
      transform: rotate(-10deg);

      path {
        transition: all 180ms ease-in;
      }
    }
  }
}

button,
.buddybtn {
  --color: #222;
  --background: var(--color-blue);
  --focus-color: #222;
  --focus-background: var(--color-light);
  --border-radius: 0.15em;

  /* Reset */
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 1.125rem;
  padding: 0;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentColor;
  }

  /* Core styles */
  @include button-core;
  position: relative;
  transition: 180ms all ease-in-out;
  font-size: clamp(2.5rem, 5vw, 4rem);

  &:focus {
    outline-style: solid;
    outline-color: transparent;
    background-color: var(--focus-background);
    color: var(--focus-color);
  }
}
