*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Baloo 2", sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.5;
  font-size: 1.15rem;
}

body,
h1,
h2,
h3,
p,
blockquote,
ul,
.controls {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
