header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.5rem;

  h1,
  nav {
    flex-shrink: 0;
  }

  h1 {
    flex-grow: 1;
  }

  nav {
    flex-basis: 10rem;
  }

  ul {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    list-style: none;
    padding: 0;

    li {
      text-align: center;
    }

    a {
      color: var(--color-primary);
      font-size: 1.25rem;
      font-weight: 500;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
      display: inline-block;
    }
  }
}

header,
section,
aside,
footer {
  padding-right: min(1rem, 3vw);
  padding-left: min(1rem, 3vw);
}

aside,
footer {
  display: grid;
  place-content: center;
  min-height: 100vh;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

aside {
  grid-gap: 2rem;
}

footer {
  * + * {
    margin-top: 1.5em;
  }
}

header,
aside,
footer {
  border-width: 0;
  border-top-width: 3px;
  border-style: solid;
  border-image: $tdbc-gradient 1;
}
